{{ define "title"}}
{{ if eq .Section "books" }}{{ .Title }}: Notes and Summaries \ Radu Ciurca{{end}}
{{ if eq .Section "blog" }}All Articles by Radu Ciurca {{end}}
{{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}
<style>
  #pLike {
    max-width: 740px;
    margin: auto;
    font-size: 17px;
    line-height: 32px;
    color: black;
    margin-top: 28px;
    padding-top: 28px;
    margin-bottom: 0;
    position: relative;
  }
  #pLike:hover {
    color: rgba(0, 0, 0, 0.6); 
  }
  #whatever {
    color: blue;
  }
</style>
<div id="hero" class="wrap">
		<h1>{{ .Title }}</h1>
		{{ if eq .Section "blog" }}<p>Productivity, Life and Tools.</p>{{ end }}
		{{ if eq .Section "technica" }}<p>Tutorials about techincal stuff.</p>{{ end }}
		{{ if eq .Section "books" }}<p>Book Notes and Summaries. If you have a book recommandation <a href="mailto:radu@ciur.ca">email me</a>.</p>{{ end }}
    <a href="https://ck.raduciurca.com/mail" target="_blank" id="pLike">My Newsletter</a>
</div>
<ul id="posts">
 {{ if eq .Section "books" }}  
 {{ range (.Data.Pages.ByParam "bookrating").Reverse }} {{ partial "page-summary" . }} {{ end }}
  <section>{{ partial "pagination" .}}</section> 
  {{else}}
 {{ range .Paginator.Pages.ByDate.Reverse }} {{ partial "page-summary" . }} {{ end }}
  <section>{{ partial "pagination" .}}</section>
  {{ end }}
</ul>


{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}

