  <footer id="footer" style="display: block; text-align:center">
    <p id="copyrightYear">Copyright &copy; {{ dateFormat "2006" now }} {{ .Site.Params.author }}. <a href="mailto:radu@ciur.ca" style="text-decoration:none; color:rgba(0, 0, 0, 0.5)">Contact</a>.
	<br>
</p>
  </footer>
<script src="https://unpkg.com/zooming/build/zooming.min.js"></script>

<script defer>
    // Listen to images after DOM content is fully loaded
    document.addEventListener('DOMContentLoaded', function () {
    new Zooming({
        // options...
    }).listen('.img-zoomable')
    })
</script>
