<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <footer id="footer">
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
          <li>
          <a href="/technica/">Technica</a>
        </li>
        <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
        </li>
      </ul>
    </nav>
    <p id="copyrightYear">Radu Ciurca &copy;</p>
  </footer>
<script src="https://unpkg.com/zooming/build/zooming.min.js"></script>

<script>
    // Listen to images after DOM content is fully loaded
    document.addEventListener('DOMContentLoaded', function () {
    new Zooming({
        // options...
    }).listen('.img-zoomable')
    })
    var yearDate = new Date();
    document.getElementById("copyrightYear").innerHTML = `Radu Ciurca &copy; ${yearDate.getFullYear()}`
</script>