<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <footer id="footer" style="display: block; text-align:center">
    <p id="copyrightYear">Radu Ciurca &copy;</p>
  </footer>
<script src="https://unpkg.com/zooming/build/zooming.min.js"></script>

<script>
    // Listen to images after DOM content is fully loaded
    document.addEventListener('DOMContentLoaded', function () {
    new Zooming({
        // options...
    }).listen('.img-zoomable')
    })
    var yearDate = new Date();
    document.getElementById("copyrightYear").innerHTML = `Radu Ciurca &copy; ${yearDate.getFullYear()}`
</script>