<li itemscope itemtype="http://schema.org/CreativeWork">
    <a href="{{ .Permalink }}" itemprop="headline">
        <h2>
            {{ .Title }}
			{{ if (isset .Params "bookrating") }}
			<span style="color: black">- {{ .Params.bookrating }}/10 </span>
			{{ end }}
        </h2>
        {{ if (isset .Params "description") }}
        <time class="post-time">{{ partial "post/meta" . }}</time>
        {{ end }}
        {{ if .Description }}
        <p itemprop="about">{{ .Description }}</p>
        {{ end }}
    </a>
</li>
