{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<head>
 <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<style>
  .aboutdiv {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    display: block;
    padding-top: 48px;
  }
  .image {
    max-width: 200px;
    float: right;
    box-shadow: none;
    border-radius: 50%;
  }
  @media only screen and (max-width: 600px) {
    .w-richtext {
      padding-left: 10px;
      padding-right: 10px;
    }
    h1 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .image {
      padding-right: 10px;
    }

  }

</style>

  <div class="aboutdiv">
      <div class="aboutdivcont">
        <h1>Hello there!</h1>
		<div class="w-richtext"> 
          <p class="large">I'm Radu and I do various things on the internet. As you've guessed, this is my website.</p>
          <p class="large">I write about different things on my <a href="/blog">blog</a> and more tehnical stuff on <a href="/technica">Technica</a>.</p>
		  <p class="large">Also, you can check out my <a href="/books">book notes</a> section.</p>
          <p class="large">Since this website is still in its infancy, I take every suggestion kindly, so please DM me on <a href="https://twitter.com/raduciurca" target="_blank">Twitter</a> if you've got any ideas.</p>
		</div>
  </div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
