{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<head>
 <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<style>
  .aboutdiv {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    display: block;
    padding-top: 48px;
  }
  .image {
    max-width: 200px;
    float: right;
    box-shadow: none;
    border-radius: 50%;
  }
  @media only screen and (max-width: 600px) {
    .w-richtext {
      padding-left: 10px;
      padding-right: 10px;
    }
    h1 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .image {
      padding-right: 10px;
    }

  }

</style>

  <div class="aboutdiv">
      <div class="aboutdivcont">
        <h1>Hello there!</h1>
		<div class="w-richtext">
          <h3>About me</h3>
          <p class="large">I'm an 18 y/o currently attending my last year of highschool in Romania. (so take everything you read here with a grain of salt)
            <br>
            I like computers a lot, I love reading and I enjoy laughing.
          </p>
          <h3>The website</h3>
          <p class="large">You'll find my ideas on my <a href="/blog">blog</a>. There's a lot of "you do this" and "don't do that", don't take it too personally. My blog posts are advice/notes for my future self.</p>
		  <p class="large">If I don't write notes on the books I read, I forget 95% of the ideas in 6 months, so check out my <a href="/books">book notes</a>.</p>
          <h3>Contact</h3>
         <p class="large">If you want to say hello you can email me at <a href="mailto:radu@ciur.ca" target="_blank">radu@ciur.ca</a> or DM me on Twitter <a href="http://twitter.com/raduciurca" target="_blank">@raduciurca</a>. (email is preffered, I'm not constantly on Twitter)</p> 
         <h3>Newsletter</h3>
         <p class="large">If you want to get updates, you should subscribe to my <a href="https://radu.ck.page/wiseday" target="_blank" rel="noopener noreferrer">newsletter</a>.</p>
    </div>
    </div>
  </div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
