{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<style>
  .aboutdiv {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    display: block;
    padding-top: 48px;
  }
  .image {
    max-width: 200px;
    float: right;
    box-shadow: none;
    border-radius: 50%;
  }
  .w-richtext {
    font-size: x-large;
  }
  @media only screen and (max-width: 600px) {
    .w-richtext {
      font-size: 1.2em;
      padding-left: 10px;
      padding-right: 10px;
    }
    h1 {
      font-size: 2.2em;
      padding-left: 10px;
      padding-right: 10px;
    }
    .image {
      padding-right: 10px;
    }

	.modalabout {
	}
  }

</style>

  <div class="aboutdiv">
      <div class="aboutdivcont">
        <h1>Hello there!</h1>
        <img src="/img/index/myimage.png" alt="Radu Ciurca Headshot" class="image">
        <div class="w-richtext">
          <p>I'm Radu and I do various things on the internet. As you've guessed, this is my website.</p>
          <p>I write about different things on my <a href="/blog">blog</a> and more tehnical stuff on <a href="/technica">Technica</a>.</p>
		  <p>Also, you can check out my <a href="/books">book notes</a> section.</p>
          <p>Since this website is still in its infancy, I take every suggestion kindly, so please DM me on <a href="https://twitter.com/raduciurca" target="_blank">Twitter</a> if you've got any ideas.</p>
		<button data-component="modal" data-target="#my-modal" class="modalabout">Note</button>
		</div>
		<div id="my-modal" class="modal-box hide">
			<div class="modal">
				<span class="close"></span>
				<div class="modal-body">I want to point out that I got a lot of ideas from Nat Eliason's <a href="https://nateliason.com" target="_blank">website</a>. This about page, the book section and a lot of other elements are inspired by Nat's site. I'll most definitely make it more my own the more I work on it, but for now I used his site as some general guidelines. If you are affiliated with Nat Eliason in any way and want elements of this site taken down, please contact me on Twitter <a href="https://twitter.com/raduciurca" target="_blank">@raduciurca</a>.</div>
			</div>
        </div>
      </div>
  </div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
